<!DOCTYPE html>
<html>
    <head>
        <title>MediPuff Welcome Page</title>
    </head>
    <body>
        <h1>Welcome MediPuff User!</h1>

        
        <p>
            <h3>Text the phone number below to set up text notifications</h3>
            <h4>(000-000-0000)</h4>
        </p>
      

        <form method="POST" action="/EnterMedication">
            <h3>Enter the name of your medication</h3>
            <input type="text" id="sumbit_med" name="submit_med" placeholder="Type Medication Here"></input>
            <p><br><br></p>
            

            <h3>Enter the time you take your medication</h3>
            <input type="time" id="submit_time" name="submit_time" placeholder="Type Time Here"></input>
            <p><br><br></p>

            <input type="submit" value="Submit Medication Information">      </input>

        </form>

        <input type="submit" value="Done Adding Medications" onclick="goToMainPage()"></input>

        <script>
            function goToMainPage() {
                window.location.href = "/MainPage";
            }
        </script>
    </body>


</html>
